<div *ngIf="state != 0">

<app-the-scanner></app-the-scanner>

</div>
<div *ngIf="state == 0">
<table >
  <tr>
    <td>
      <input matInput [(ngModel)]="sc.platz"  />
    </td>
    <td><button mat-raised-button color="primary" (click)="scanPlatz()">Scan platz</button></td>
  </tr>
  <tr>
    <td colspan="2">
      <mat-radio-group [(ngModel)]="sc.typeScan">
        <ng-template ngFor let-t [ngForOf]="idTypes">
          <mat-card>
            <mat-card-content>
              <mat-radio-button  class="example-margin" value="{{ t.id }}">
                {{ t.name }}
              </mat-radio-button>
            </mat-card-content>
          </mat-card>
          <mat-divider></mat-divider>
        </ng-template>
      </mat-radio-group>
    </td>
  </tr>
  <tr>
    <td>
      <input matInput [(ngModel)]="sc.box" />
    </td>
    <td><button mat-raised-button color="primary"  (click)="scanBox()">Scan Box</button></td>
  </tr>
</table>

<mat-divider></mat-divider>

Current Item - not saved yet
{{ sc | json }}

<button mat-raised-button color="primary"    (click)="saveData()">Save Current Item</button>
<mat-divider></mat-divider>

<span matBadge="{{scExist.length}}" matBadgeOverlap="false">Items scanned</span>

<ol type="1">
  <ng-template ngFor let-t [ngForOf]="scExist">
  <li>
      {{t | json}}
      <button mat-raised-button color="warn" (click) = "deleteFromMemory(t)">Delete</button>
  </li>
  </ng-template>  
</ol>


</div>